# windows installations: tesseract and poppler
# install tesseract for windows: https://computer.meinwissen.info/python-texterkennung-bild-zu-text-mit-pytesseract-in-windows/#Tesseract_unter_Windows_installieren
# install poppler https://stackoverflow.com/questions/18381713/how-to-install-poppler-on-windows, http://blog.alivate.com.au/poppler-windows/

pdf2image
opencv-python
Pillow
pytesseract
